[submodule "external/SuRF"]
	path = external/SuRF
	url = https://github.com/efficient/SuRF
[submodule "external/BloomFilter"]
	path = external/BloomFilter
	url = https://github.com/mpac123/BloomFilter
[submodule "external/quotient-filter"]
	path = external/quotient-filter
	url = https://github.com/vedantk/quotient-filter
